/* src/components/ChatInput.css */
.chat-input {
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  